<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>shoppingListApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addServlet</display-name>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>controller.addServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editItemServlet</display-name>
    <servlet-name>editItemServlet</servlet-name>
    <servlet-class>controller.editItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editItemServlet</servlet-name>
    <url-pattern>/editItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>navigationServlet</display-name>
    <servlet-name>navigationServlet</servlet-name>
    <servlet-class>controller.navigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>navigationServlet</servlet-name>
    <url-pattern>/navigationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAllItemsServlet</display-name>
    <servlet-name>viewAllItemsServlet</servlet-name>
    <servlet-class>controller.viewAllItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAllItemsServlet</servlet-name>
    <url-pattern>/viewAllItemsServlet</url-pattern>
  </servlet-mapping>
</web-app>